@font-face {
  font-family: "DIN Condensed";
  src: url("../public/fonts/DIN\ Condensed\ Bold.ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "EBGaramond";
  src: url("../public/fonts/GillSans.ttc");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  min-width: fit-content;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
