.location {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  background-color: #fff;
  position: absolute;
  top: 15%;
  left: 1%;
  z-index: 1;
}

.location h1 {
  font-family: DIN Condensed;
  font-size: 3.5rem;
  display: block;
  text-align: center;
  position: absolute;
  top: -25%;
  left: 5%;
  transform: translateX(5%);
}

.location p {
  font-family: Gill Sans;
  padding: 1rem 0;
}
